.footer 

		&__content
         padding-top: 30px 

.footer
   background-color: #E1DECE   
   color: #191919
   
   
.info 

		&__row
         display: flex
         justify-content: space-between 
		

		&__left 
         display: flex
         justify-content: space-between
         max-width: 570px
         width: 100%
         p
            margin: 0

		&__phone 
         font-weight: 300
         font-size: 15px
         line-height: 25px
         margin: 0 0 0 0

		&__subtitle
         font-weight: 400
         font-size: 15px
         line-height: 18px 
         margin: 20px 0 12px 0
         &:nth-child(1)
            margin: 0 0 12px 0

		&__icons 
         display: flex

		&__icon 
         img
            width: 20px
            height: 20px
            object-fit: cover
         display: flex
         justify-content: center
         align-items: center
         border: 1px solid #191919
         border-radius: 50%
         margin: 0 12px 0 0
         width: 32px
         height: 32px
		

		&__adress 
         font-weight: 300
         font-size: 15px
         line-height: 25px		

		&__map 
         max-width: 570px
         width: 100%

#map
   height: 330px
   width: 100%